/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }


h1 {
  font-family: 'Lobster', cursive;
  font-weight: 200;
  text-shadow: 1px 1.25px 3px black;
  font-size: 60px;
  text-align: center;
  margin: auto;
  padding: 16px;
}

body {
  background-color: #6CC1DD;
}

.canvasLayout {
  background-color: red;
}
