/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }


h1, h3 {
  font-family: 'Lobster', cursive;
  font-weight: 200;
  text-shadow: 1px 1.25px 3px black;
  font-size: 60px;
  text-align: center;
  margin: auto;
  padding: 16px;
}

p {
    font-family: 'Cabin', sans-serif;
    text-shadow: 1px 1.25px 3px black;
    font-size: 18.25px;
    line-height: 25px;
}

body {
  background-color: #6CC1DD;
  background-image: url("../images/leaf_1445_p-o.jpg");
  background-repeat: repeat;
  background-size: auto;
}

.canvasLayout {
  width: auto;
  height: auto;
  margin: 10px;
  text-align: center;
}

img {
    max-width: 45%;
    height: auto;
}
