<!-- Ability to restart the page by clicking this button -->
<div class="buttonStuff">
  <button type="submit" class="btn btn-info">Save it!</button>
  <button type="submit" class="btn btn-warning">Restart</button>
</div>

<div class="footer">
  <p>This application needs the use of your computer's webcam and microphone in order to work.<br>
    Please reload the page if you dismissed these options. <br></p>

  <div class="socialButtons">
    <a href="https://facebook.com"><img src="images/flogo.png" alt="facebooklogo" /></a>
    <a href="https://twitter.com"><img src="images/tlogo.png" alt="twitterlogo" /></a>
    <a href="https://instagram.com"><img src="images/ilogo.png" alt="instagramlogo" /></a>
  </div>
</div>
</div>
</div>

<!-- Center the canvas within the screen with the well.  -->
<!-- Verify this is the layout we want.  -->
