<div class="container">
  <div class="homeHeader">
    <h1>StayCation</h1>
  </div>

  <!-- This canvas is what the webam will display -->
    <canvas id="canvas"></canvas>

      <div class="well well-sm">Where do you want to go?!...</div>

    <!-- Ability to restart the page by clicking this button -->
      <div class="buttonStuff">
        <button type="submit" class="btn btn-warning" ui-sref="#/home">Restart</button>
      </div>

    <div class="footer">
        <p>
          This application needs the use of your computer's webcam and microphone.<br>
          Please reload the page if you dismissed these options. <br>
      </p>
      <div class="socialButtons inline">
      <a href="https://facebook.com"><img src="images/flogo.png" alt="facebooklogo" /></a>
        <a href="https://twitter.com"><img src="images/tlogo.png" alt="twitterlogo" /></a>
        <a href="https://instagram.com"><img src="images/ilogo.png" alt="instagramlogo" /></a>
      </div>
    </div>
</div>
