<div class="row">
  <div class="col-md-12   ">
    <div class="homeHeader">
      <h1>StayCation</h1>
    </div>

    <!-- This canvas is what the webcam will display -->
    <div id="canvas">
      <webcam></webcam>
      <canvas></canvas>
    </div>
      <!-- <div class="well well-sm">Where do you want to go?!...</div> -->

      <div id="div_start">
        <button id="start_button" style="display: inline-block;">
          <img src="images/mic.gif" alt="Start" id="start_img"/>
        </button>
      </div>

      <div id="results">
        <span class="final" id="final_span"></span>
        <span class="interim" id="interim_span"></span>
      </div>

    <!-- Ability to restart the page by clicking this button -->
    <div class="buttonStuff">
      <button type="submit" class="btn btn-warning" ui-sref="#/home">Restart</button>
    </div>

    <div class="footer">
      <p>This application needs the use of your computer's webcam and microphone in order to work.<br>
        Please reload the page if you dismissed these options. <br></p>

      <div class="socialButtons">
        <a href="https://facebook.com"><img src="images/flogo.png" alt="facebooklogo" /></a>
        <a href="https://twitter.com"><img src="images/tlogo.png" alt="twitterlogo" /></a>
        <a href="https://instagram.com"><img src="images/ilogo.png" alt="instagramlogo" /></a>
      </div>
    </div>
  </div>
</div>

<!-- Center the canvas within the screen with the well.  -->
<!-- Verify this is the layout we want.  -->
