<h3 id="talk-now"></h3>

<p>Error Message: {{ message }}</p>

<p>Interim: {{ interim }}</p>

<p>Final: {{ final }}</p>

<p>FinalArray: {{ finalArray }}</p>

<p>Sentence has {{ chunks.length }} words.</p>

<ul>
  <!-- track by index to avoid error about duplicate values in ng-repeat -->
  <li ng-repeat="word in chunks track by $index">{{ word }}</li>
</ul>


<p>Bg from ImageFactory is</p>
<img ng-src='{{ImageFactory.bg}}'>




<p>Items from ImageFactory are:</p>
<ul>
  <li ng-repeat="item in items track by $index">
    {{ item.name }}
    <!-- need to use ng-src so the browser doesn't try to load before angular -->
    <img ng-src='{{item.url}}'>
  </li>
</ul>
