<div id="results" class="center-block">
  <div id="div_start" class="text-right">
    <button id="start_button">
      <img src="images/mic.gif" alt="Start" id="start_img"/>
    </button>
  </div>
  <span class="final" id="final_span">{{ final }}</span>
  <span class="interim" id="interim_span">{{ interim }}</span>
</div>


<h5 id="talk-now"></h5>

<!-- this stuff can be deleted, just for testing and confirmation -->
<p><strong>Error Message</strong>: {{ message }}</p>

<p><strong>Interim sentence</strong>: {{ interim }}</p>

<p><strong>Final sentence</strong>: {{ final }}</p>

<p><strong>Sentences heard so far</strong>: {{ heardSentences }}</p>

<p>
  ImageFactory.bg: {{ ImageFactory.bg }}
</p>
